/* * {
  text-align: center;
}
.counter{
  margin-top: 100px;
}
button {
  font-size: 16px;
  background-color: green;
  padding: 15px 30px;
  color: white;
  width: 100px;
}

.count {
  font-size: 50px;
  padding: 20px;
}

.reset{
  font-size: 16px;
  background-color: #dd1d1d;
  padding: 15px 60px;
  color: white;
  width: 200px;
} */